.nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.nav-link:hover,
.nav-link:focus {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

.chat-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
    padding: 0;
}

.bi-chat-dots {
    fill: white;
}